<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bidcast.mapper.AuctionMapper">
    <select id="getAuctionHistoryByUserId" resultType="com.project.bidcast.vo.AuctionHistoryDTO" parameterType="String">
        SELECT
            a.auction_id AS auctionId,
            a.title AS title,
            i.file_url AS imgUrl,
            a.session AS session,
        a.start_time AS startTime,
        a.end_time AS endTime,
        a.created_at AS auctionDate,
        string_agg(t.tag_name, ', ') AS tags
        FROM auction a
            JOIN product p ON a.auction_id = p.auc_key
            JOIN (
            SELECT prod_key, MIN(reg_date) AS min_regdate
            FROM file
            GROUP BY prod_key
            ) fi ON p.prod_key = fi.prod_key
            JOIN file i ON i.prod_key = fi.prod_key AND i.reg_date = fi.min_regdate
            LEFT JOIN auctiontag at ON a.auction_id = at.auc_key
            LEFT JOIN tag t ON at.tag_key = t.tag_key
        WHERE a.host_id = #{loginId}
        GROUP BY a.auction_id, a.title, i.file_urls, a.session, a.created_at, a.start_time, a.end_time
    </select>


    <select id="selectAuctionDetail" resultType="com.project.bidcast.vo.AuctionDetailDTO" parameterType="int">
        SELECT
            a.auction_id AS auctionId,
            a.session,
            a.title,
            u.user_name AS auctioneer,
            a.start_time AS startTime,
            a.end_time AS endTime,
    COUNT(p.prod_key) AS itemCount
        FROM auction a
            LEFT JOIN product p ON a.auction_id = p.auc_key
            LEFT JOIN users u ON a.host_id = u.login_id
        WHERE a.auction_id = #{auctionId}
        GROUP BY a.auction_id, a.session, a.title, u.user_name, a.start_time, a.end_time;
    </select>

    <select id="selectAuctionItemsByAuctionId" resultType="com.project.bidcast.vo.AuctionItemDTO" parameterType="int">
        SELECT
            p.prod_key AS prodId,
            p.prod_name AS prodName,
            (
                SELECT f.file_url
                FROM file f
                WHERE f.prod_key = p.prod_key
                LIMIT 1
            ) AS image,
    p.final_price AS price,
    u.nickname AS winner
        FROM product p
            LEFT JOIN users u ON p.winner_id = u.user_key
        WHERE p.auc_key = #{auctionId};

    </select>

    <select id="selectWinningProductsByUserId" resultType="AuctionItemDTO">
        SELECT
            p.prod_key AS prodId,
            p.prod_name AS prodName,
            (
                SELECT f.file_url
                FROM file f
                WHERE f.prod_key = p.prod_key
                LIMIT 1
            ) AS image,
        p.final_price AS price
        FROM product p
        WHERE p.winner_id = #{userKey}
        ORDER BY p.prod_key DESC
    </select>


    <select id="selectAuctionSchedule" resultType="com.project.bidcast.vo.AuctionScheduleDTO">
        SELECT
        a.auction_id,
        to_char(a.start_time, 'YYYY.MM.DD') AS date,
        a.title,
        -- 대표 이미지 하나만 서브쿼리로 가져오기
        (
        SELECT f.file_url
        FROM product p2
        LEFT JOIN file f ON p2.prod_key = f.prod_key
        WHERE p2.auc_key = a.auction_id
        ORDER BY f.reg_date ASC
        LIMIT 1
        ) AS image,
        a.start_time,
        a.end_time,
        a.status,
        a.view_count AS guestCount,
        u.user_name AS hostName,
        COALESCE(string_agg(t.tag_name, ','), '') AS tags
        FROM auction a
        LEFT JOIN users u ON a.host_id = u.login_id
        LEFT JOIN auctiontag at ON a.auction_id = at.auc_key
        LEFT JOIN tag t ON at.tag_key = t.tag_key
        <where>
            <if test="date != null and date != ''">
                to_char(a.start_time, 'YYYY.MM.DD') = #{date}
            </if>
            <if test="tag != null and tag != ''">
                AND EXISTS (
                SELECT 1 FROM auctiontag at2
                JOIN tag t2 ON at2.tag_key = t2.tag_key
                WHERE at2.auc_key = a.auction_id AND t2.tag_name = #{tag}
                )
            </if>
        </where>
        GROUP BY a.auction_id, a.start_time, a.title, a.end_time, a.status, a.view_count, u.user_name
    </select>


    <insert id="regAuction" parameterType="AuctionDTO" keyProperty="auctionId" keyColumn="auction_id" useGeneratedKeys="true">
        INSERT INTO auction(host_id, created_at, title, start_time, end_time, status, thumbnail_url)
        VALUES (#{hostId}, NOW(), #{title}, #{startTime}, #{endTime}, '진행예정', #{thumbnailUrl})
        RETURNING auction_id
    </insert>


    <insert id="regProduct" parameterType="ProdDTO" keyProperty="prodKey" keyColumn="prod_key" useGeneratedKeys="true">
        INSERT INTO product (auc_key, prod_name)
        VALUES (#{aucKey}, #{prodName})
        RETURNING prod_key
    </insert>



</mapper>